* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d70a2;
    color: white;
    font-family: 'Kadwa', serif;
    font-size: medium;
    margin: 0; 
}

.navbar {
    background-color: #173753;
    padding: 10px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
}

.companyname {
    font-size: 26px;
    color: white;
    justify-self: flex-start; 
}

.navlink ul {
    list-style: none;
    display: flex; 
    justify-content: flex-end; 
}

.navlink li {
    margin-left: 15px; }

.navlink button {
    background-color: rgba(29, 112, 162, 1);
    border: none;
    border-radius: 12px;
    font-size: 22px;
    font-family: 'Kadwa', serif;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.navlink button:hover {
    transform: scale(1.04);
    opacity: 0.9;
}

.navlink button:active {
    transform: scale(0.95);
    opacity: 0.8;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 10px;
    width: 60%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(145deg, #1e73a4, #185e85);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


.about h2 {
    font-size: 2.2em;
    letter-spacing: 1px;
    margin-bottom: 15px;
    border-bottom: 2px solid #ffffff80;
    padding-bottom: 5px;
}


.about p {
    text-align: center;
    font-size: 1.1em;
    line-height: 1.6;
    color: #f0f0f0;
    padding: 0 20px;
}


@media (max-width: 768px) {
    .about {
        width: 90%;
        padding: 20px;
    }

    .about h2 {
        font-size: 1.8em;
    }

    .about p {
        font-size: 1em;
    }
}