:root {
    --primary-color: #1D70A2;
    --secondary-color: #173753;
    --accent-color: #FFFFFF;
}
body,html{
    font-family: 'Kadwa', serif !important; 
    background-color: var(--accent-color);

}
