:root {
    --primary-color: #1D70A2;
    --secondary-color: #173753;
    --accent-color: #FFFFFF;
}

* {
    box-sizing: border-box;
    font-family: Kadwa;
  }

body, .login-frame{
    margin: 0;
}

/* Basic container styling */
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/* =================================================================
    Left Logo Column styling
=================================================================*/
.branding-container {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* Optional: full viewport height */
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* =================================================================
    NAVIGATION STYLES
=================================================================*/
.nav-header {
    position: absolute;
    top: 20px;
    right: 20px;
}
.nav-header .change-portal {
  text-decoration: none;
  position: relative;
  color: var(--secondary-color);
  right: 10px;
}

.nav-header .change-portal::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: var(--secondary-color);
  transition: width 0.5s ease, left 0.5s ease;
}

.nav-header .change-portal:hover::after {
  width: 100%;
  left: 0;
}

.nav-header .sign-up-button {
    text-decoration: none;
    padding: 1px 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    color: var(--secondary-color);
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.nav-header .sign-up-button:hover {
    background-color: var(--secondary-color);
    color: var(--accent-color);
}

/* =================================================================
  FORM STYLES
=================================================================*/

.user-form-frame{
    height: 100vh; /* Optional: full viewport height */
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sign-up-form-container{
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 5%;

}

.sign-up-form-container h2{
    margin-bottom: 5%;
    text-align: center;
}

.sign-in-form-container h2 {
    text-align: center;
    margin-bottom: 10%;

}

.sign-in-form-container{
    padding: 20%;
    padding-top: 15%;
    width:100%;
}

.login-form-frame title{
    left:0;
}

.sign-in-form h2 {
    margin-bottom: 10%;
    text-align: center;
}

p{
    text-align: center;
}

/* ========================SIGN IN BUTTON====================================*/

.submit-button {
    background: linear-gradient(to right, var(--secondary-color), var(--primary-color)); /* Gradient from dark blue to lighter blue */
    color: white; /* Text color */
    padding: 10px 40px; /* Padding for spacing */
    width: 100%;
    border: none; /* Remove default border */
    border-radius: 7.5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
    transition: transform 0.2s ease; /* Smooth hover effect */
}

.sign-in-button{
    margin-top: 5%;
}

.sign-up-button{
    margin-top: 5%;
}

.submit-button:hover {
    transform: scale(1.05); /* Slightly enlarges the button on hover */
}

.login-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* ======================== SIgn IN FORM ====================================*/

.sign-in-form {
    max-width: 400px;
    margin-top: 40px;
}

.sign-in-form label {
    font-size: 0.9rem;
    color: #173753;
}

/* ========================EMAIL AND PASSWORD INPUT====================================*/

.input-group {
    position: relative;
    margin-bottom: 5px;
    border-bottom: solid 2px var(--secondary-color);
}

.input-group input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border:none;
    border-radius: 5px;
    font-size: 1rem;
}



.input-group input:focus {
    outline: none; /* Removes the default blue outline */
}

.input-group .icon {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.error-message {
    height: 20px; /* Reserve space for error messages */
    font-size: 12px; /* Adjust font size if needed */
    color: red; /* Error message color */
    margin-top: 4px; /* Space between input and message */
    visibility: hidden; /* Hide by default */
}

.error-message.input-error {
    visibility: visible; /* Show when there's an error */
}