.content {
    flex: 1;
    padding: 20px;
    color: black;
    background-color: #ffffff;
}

.dashboard h1, .dashboard h2 {
    color: #1d70a2;
    text-decoration: bold;
}

.request-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px
}

.request-table th, .request-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.request-table th {
    background-color: #1d70a2;
    color: white;
}

.request-table tr:nth-child(even) {
    background-color: #ffffff;
}

.request-table tr:nth-child(odd) {
    background-color:#efefef;
    ;
}

.request-table td .cancel-btn {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.request-table td .cancel-btn:hover {
    background-color: #c9302c;
}

.pay-btn, .view-receipt-btn {
    background-color: #4CAF50; /* Green color */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.pay-btn, .view-receipt-btn:hover {
    background-color: #45a049;
}