:root {
    --primary-color: #1D70A2;
    --secondary-color: #173753;
    --accent-color: #FFFFFF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kadwa', serif;
    
}
a{
    text-decoration: none;
}

.sidebar {
    width: 20%;
    padding: 20px;
    background-color: var(--secondary-color);
    color: white;
    min-height: 100vh;
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.container {
    display: flex;
    flex-direction: row;
}

.sidebar button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: larger;
}

.sidebar button:hover {
    background-color: var(--secondary-color);
}

.sidebar .view-purchases {
    display: block;
    width: 100%;
    background-color: var(--primary-color);
    margin: 10px 0;
    text-align: center;
    padding: 10px 0;
}

.sidebar .view-purchases:hover {
    background-color: var(--primary-color);
}
