:root {
  --primary-color: #1D70A2;
  --secondary-color: #173753;
  --accent-color: #FFFFFF;
}
:root {
    --prussian-blue: var(--secondary-color);
    --emerald: rgba(72, 191, 132, 1);
    --baby-powder: rgba(251, 254, 249, 1);
    --zomp: rgba(67, 151, 117, 1);
    --bice-blue: var(--primary-color);
  }