:root {
    --prussian-blue: rgba(23, 55, 83, 1);
    --emerald: rgba(72, 191, 132, 1);
    --baby-powder: rgba(251, 254, 249, 1);
    --zomp: rgba(67, 151, 117, 1);
    --bice-blue: rgba(29, 112, 162, 1);
  }